*{
    --handout-scale : 0.7;
    --handout-height: 50%;
}

#slideshow{
    transform: scale(var(--handout-scale)) translateY( calc(-95% * (1 - var(--handout-scale))) );
}

footer{
    color: black;
    z-index:100;
}

.handout_notes{
    background-color: white;
    color:black;
    height:var(--handout-height);
    width:100%;
    position:absolute;
    bottom:calc(-1*var(--handout-height));
    left:0px;
    display:block !important;
    font-size:9pt;
    line-height: 1.15em;
    padding:5px;
    transform: scale(calc(1.0/var(--handout-scale)));
    text-align: left;
}