*{
    --handout-scale : 0.66;
    --handout-height: 45%;
}

.slidev-layout{
    zoom:var(--handout-scale);
    width:calc(100% * var(--handout-scale)) ;
    margin:auto;
}

.handout_notes code{
    background-color: white !important;
}

footer{
    color: black;
    z-index:100;
}

.handout_notes{
    position:absolute;
    top:calc(100% * var(--handout-scale));
    background-color: white;
    color:black;
    width:100%;
    left:0;
    display:block !important;
    font-size:11pt;
    line-height: 1.5 !important;
    padding:15px;
    height:100%;
    text-align: left;
    border-top: 2px solid black;
}
.handout_notes p {
    margin:0 !important;
    padding:0 !important;
}