*{
    --handout-scale : 0.68;
    --handout-height: 45%;
}

#slideshow{
    transform: scale(var(--handout-scale)) translateY( calc(-90% * (1 - var(--handout-scale))) );
}

footer{
    color: black;
    z-index:100;
}

.handout_notes{
    position:absolute;
    bottom:calc( -1.15*var(--handout-height));
    left:0;
    background-color: white;
    color:black;
    height:var(--handout-height);
    width:100%;
    display:block !important;
    font-size:9pt;
    line-height: 1.5 !important;
    padding:10px;
    transform: scale(calc(1.0/var(--handout-scale)));
    text-align: left;
    border-top: 2px solid black;
}
.handout_notes p {
    margin:0 !important;
    padding:0 !important;
}